* {
	font-size: 100%;
	font-family: 'Nunito', sans-serif;
}

body {
	margin: 0;
}

h1 {
	color: white;
	font-size: 64px;
}

h2 {
	color: white;
	font-size: 32px;
}

p {
	color: white;
	font-size: 21px;
}

.footer > h6 {
	font-size: 16px;
	font-weight: 200;
	color: rgba(255, 255, 255, 0.35);
}

.topbar {
	display: flex;
	flex-direction: row;

	align-items: center;

	padding: 16px;
	padding-right: 16px;

	background-color: rgba(16,6,39,255);
	border-bottom: 1px solid white;
}

.topbar > .navbar {
	flex: 1;
}

.topbar > .navbar > nav .navbar-items {
	list-style: none;
	display: flex;
}

.topbar > .navbar > nav .navbar-items li {
	border: 1px solid rgba(16,6,39,255);
	border-radius: 6px;
	padding: 16px;
	transition: all 0.3s ease-in-out;

	margin: -16px;
	margin-right: 8px;
	margin-left: 8px;
}

.topbar > .navbar > nav .navbar-items li:hover {
	background-color: rgba(86, 207, 247, 1);
	border: 1px solid rgba(86, 207, 247, 1);
	border-radius: 6px;
	transition: all 0.3s ease-in-out;
}

.topbar > .navbar > nav .navbar-items li a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 400;
	transition: all 0.5s ease-in-out;
	position: relative;
}

.topbar > .navbar > nav .navbar-items li a:hover {
	transition: all 0.25s ease-in-out;
}

.topbar > .social-buttons {
	flex: 1;
	justify-content: flex-end;
}

button {
	font-size: 32px;
	margin: 4px;
	padding: 0px;
	padding-right: 8px;
	padding-left: 8px;

	background-color: white;
	color: rgba(16,6,39,255);

	border: 1px solid rgba(16,6,39,255);
	border-radius: 6px;

	transition: all 0.25s ease-in-out;
}

button:hover {
	background-color: rgba(16,6,39,255);
	border: 1px solid white;
	color: white;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.fa {
	font-size: 26px;
}

.home-container {
	background-color: rgb(255,255,255);
	width: 100%;
	height: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.topbar-container {
	width: 100%;
}

.logo-container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-left: 16px;
	border-bottom: 4px solid white;
}

.home-container > .logo-container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-left: 16px;
	border-bottom: none;
}

.next-to-logo {
	margin-left: 16px;
	margin-right: 32px;
}

.logo-container > #main-logo {
	height: 24vmin;
	pointer-events: none;
	margin-left: 32px;
}

.home-container > .logo-container > #main-logo {
	height: 48vmin;
	pointer-events: none;
	animation: slideUp 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
	margin: -80px;
	padding-top: 80px;
}

.home-container > .body-container {
	animation: fadeIn 1.5s 0.33s both;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

.about-container {
	background-color: rgb(255,255,255);
	width: 100%;
	height: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.about-container > .body-container {
	margin: 32px;
	width: 75%;
}

.about-container > .body-container > p {
	line-height: 1.6;
	font-weight: 300;
	color: white;
	font-size: 24px;
}

.organisation-container {
	background-color: rgb(255,255,255);
	width: 100%;
	height: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.organisation-container > .body-container {
	margin: 32px;
	width: 75%;
}

.organisation-container > .body-container > p {
	line-height: 1.6;
	font-weight: 300;
	color: white;
	font-size: 24px;
}

.organisation-container > .body-container > .list-container {
	list-style: none;
	align-items: center;
}

.organisation-container > .body-container > .list-container > li {
	padding: 16px;
	margin: 16px;
	margin-right: 32px;
}

.organisation-container > .body-container > .list-container > li > h5 {
	font-size: 24px;
	font-weight: 600;

	padding: 8px;
	padding-right: 0px;

	margin-bottom: 16px;

	text-align: left;
	border-bottom: 4px solid white;
	color: white;
}

.organisation-container > .body-container > .list-container > li > p {
	font-size: 24px;
	font-weight: 200;
	padding: 0;
	margin: 0;
	text-align: left;
}

.footer-container {
	align-self: center;
	bottom: 0px;
}

.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}

.team-head-text {
  color: black;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.team-head-text {
  color: black;
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.container {
  max-width: 1380px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.card {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
}

.card-container {
  width: 280px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.name {
  color: black;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 800;
}

.position {
  color: black;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.feature-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: rgb(122, 122, 122);
  line-height: 30px;
}

.social-icons {
  width: 70px;
  display: flex;
  justify-content: center;
}

.team-image-wrapper {
  clip-path: circle(50% at 50% 50%);
  width: 130px;
  height: 130px;
}

.team-member-image {
  max-width: 100%;
}

@media (max-width: 500px) {
  .card-container {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}

@keyframes slideUp {
	0% {
		transform: translateY(200px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0.1;
	}
	20% {
		opacity: 0.2;
	}
	30% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.4;
	}
	50% {
		opacity: 0.5;
	}
	60% {
		opacity: 0.6;
	}
	60% {
		opacity: 0.7;
	}
	70% {
		opacity: 0.7;
	}
	80% {
		opacity: 0.8;
	}
	90% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}
