<div class="topbar">
	<div class="navbar">
		<nav>
			<ul class='navbar-items'>
				<li>
					<a href='/index.html'>ANA SAYFA</Link>
				</li>
				<li>
					<a href='/biz-kimiz.html'>BİZ KİMİZ?</Link>
				</li>
				<li>
					<a href='/ekibimiz.html'>EKİBİMİZ</Link>
				</li>
				<li>
					<a href='/etkinlikler.html'>ETKİNLİKLER</Link>
				</li>
				<li>
					<a href='/uyelik-iletisim.html'>ÜYELİK VE İLETİŞİM</Link>
				</li>
			</ul>
		</nav>
	</div>

	<div class="social-buttons">
		<button
			onClick="clickHandler('https://www.linkedin.com/company/odtu-yzt/')"
		>
			<i class="fa fa-linkedin"></i>
		</button>

		<button onClick="clickHandler('https://www.instagram.com/odtuyzt/')">
			<i class="fa fa-instagram"></i>
		</button>

		<button onClick="clickHandler('https://www.twitter.com/odtuyzt/')">
			<i class="fa fa-twitter"></i>
		</button>
	</div>
</div>

<script>
	function clickHandler(url) {
		window.open(url, '_blank');
	}
</script>
