<div class="topbar">
	<div class="navbar">
		<nav>
			<ul class='navbar-items'>
				<li>
					<a href='/about.html'>Biz Kimiz?</Link>
				</li>
				<li>
					<a href='/organisation.html'>Organizasyon</Link>
				</li>
				<li>
					<a href='/events.html'>Etkinlikler</Link>
				</li>
				<li>
					<a href='/administrative.html'>İdari Takım</Link>
				</li>
				<li>
					<a href='/contact.html'>İletişim ve Üyelik</Link>
				</li>
			</ul>
		</nav>
	</div>

	<div class="social-buttons">
		<button
			onClick="clickHandler('https://www.linkedin.com/company/odtu-yzt/')"
		>
			<i class="fa fa-linkedin"></i>
		</button>

		<button onClick="clickHandler('https://www.instagram.com/odtuyzt/')">
			<i class="fa fa-instagram"></i>
		</button>

		<button onClick="clickHandler('https://www.twitter.com/odtuyzt/')">
			<i class="fa fa-twitter"></i>
		</button>

		<button onClick="clickHandler('https://linktr.ee/odtuyzt')">
			<i class="fa fa-link"></i>
		</button>
	</div>
</div>

<script>
	function clickHandler(url) {
		window.open(url, '_blank');
	}
</script>
